---
---

@import "{{ site.theme }}";

.site-header, .page-content, .site-footer {
  background-color: floralwhite;
  font-family: monospace;
}

.site-header {
  font-size: larger;
}

.page-content, .site-footer {
  font-size: large;
}

a {
  color: #111;
  text-decoration: underline;
}

li {
  margin-top: 20px;
  padding-top: 10px;
}
